html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: rgb(10, 10, 10);
  color:rgb(187, 200, 64);
  font-family: monospace;
}

div.canvas-container {
  position: absolute;
  top:0px;
  bottom: 70px;
  left: 0px;
  right: 0px;
}

.checkbox {
  width: 25px;
  height: 25px;
  border-color: rgb(187, 200, 64);
  color: rgb(187, 200, 64);
}

canvas {
  left: 0px;
  right: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
}

canvas:focus {
  outline: none;
}

input, button {
  background-color: rgb(0,0,0);
  border-color: rgb(187, 200, 64);
  border-style: solid;
  color:rgb(187, 200, 64);
  font-family: monospace;
  box-sizing: border-box;
  height: 100%;
}

#initial_value {
  width: 100%;
}

#tool-bar {
  height: 40px;
  display: flex;
  position: absolute;
  bottom: 0px;
  left:0px;
  right:0px;
  padding: 15px;
}

#value_div {
  flex-grow: 1;
}

#button_div {
  height: 100%;
}

#restart {
  margin-left: 10px;
}


div.popup_settings {
  display: table;
  position:absolute;
  right:  15px;
  bottom : 0px;
  background-color: rgba(40,40,40,.7);
  border-color: rgba(255,255,255,.3);
  background-color: rgba;
  border-style: solid;
  color: rgb(255,255,255);
}

div.popup_settings > div {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 6px;
}